<html>
  <head>
    <title>To-do list</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <img src = "/assets/logoInshorts.png" width = 180 height = 250 style="display: block; margin-left: auto; margin-right: auto;" />
    <br/>
    <br/>
    <h1 style="color:black; text-align:center">My Todo List</h1>
    <br/>
    <br/>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item..." required />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(let i=0;i<todos.length;i++){ %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
